/* Contacts */
.contacts {
    background: url(../assests/background/Background_Contacts.png);
    object-fit: cover;
    padding: 120px 20px 200px; /* Afastando as bordas laterais */
  }
  
  .title-contact {
    gap: 8px;
  
    h2 {
        color: var(--purple);
        font: var(--subtitle);
    }
  
    h3 {
        color: var(--gray-600);
        font: var(--title-bold-md);
    }
  
    span {
        font: var(--text-md);
        color: var(--gray-500);
    }
  }
  
  .social-midia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  
    .social {
        width: 28px;
        height: 28px;
    }
  
    a:hover {
        border: 1px solid var(--blue);
    }
  
    a:hover .social-icon path {
        fill: var(--blue);
    }
  
    .arrow {
        height: 20px;
        width: 20px;
    }
  
    a {
        color: var(--gray-500);
        font: var(--text-social);
        text-decoration: none;
        background: var(--gray-300);
        border-radius: 8px;
        gap: 12px;
        width: 400px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  }
  @media (max-width: 1170px) {
    /* Contacts */
    .contacts {
        padding: 60px 20px; /* Afastando as bordas laterais */
    }
  
    .social-midia a {
        width: 100%; /* Adapta largura em telas menores */
    }
}