footer{
    background-color: #292c34;
  }
  #footer_items {
    display: flex;
    justify-content: space-between;
    padding: 8px 16% 48px 16%;
    align-items: center;
  }
  
  #copyright{
    color: 1d1d1d;
    font-weight: 500;
  }
  @media screen and  (max-width: 1170px){}
  #footer_items{
    flex-direction: column;
    gap: 20px;
  }