/* Jobs */
.jobs {
    background: var(--gray-100);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 88px 20px; /* Afastando as bordas laterais */
  
    figure {
        background: var(--gray-300);
        border-radius: 12px;
        padding: 20px; /* Aumente o padding para afastar o texto das bordas */
        width: 330px;
  
        img {
            width: 306px;
            height: 156px;
            padding-bottom: 20px;
        }
    }
  
    figure:hover {
        border: 1.5px solid var(--gray-400);
    }
  
    img {
        border-radius: 8px;
    }
  }
@media (max-width: 1170px) {
    /* Jobs */
  .jobs {
    padding: 60px 20px; /* Afastando as bordas laterais */
    display: flex; /* Ou 'grid' se estiver usando Grid Layout */
    gap: 50px; /* Define o espaçamento entre os itens */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 88px 20px; /* Afastando as bordas laterais */

  }

  .jobs project-card {
    padding: 60px 20px; /* Afastando as bordas laterais */
    display: flex; /* Ou 'grid' se estiver usando Grid Layout */
    gap: 50px; /* Define o espaçamento entre os itens */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 88px 20px; /* Afastando as bordas laterais */
  }
}