.services {
  background: var(--gray-100);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 0 120px;

  figure {
    padding: 20px;

    figcaption {
      padding-top: 20px;
    }
  }
}

/* Responsivo */
@media (max-width: 768px) {
  .services {
    padding: 60px 20px; /* Adapta o padding em telas menores */
  }
}
